* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 11pt;
}

@font-face {
    font-family: "Helvetica Bold";
    src: url(../css/fonts/HelveticaNeueLTStd-Bd.otf);
}

@font-face {
    font-family: "Helvetica Light";
    src: url(../css/fonts/HelveticaNeueLTStd-Lt.otf);
}

:root {
    --helve-bd: "Helvetica Bold";
    --helve-lt: "Helvetica Light";
    --b: #000;
    --w: #fff;
}