* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 11pt;
}

@font-face {
    font-family: "Helvetica Bold";
    src: url(../css/fonts/HelveticaNeueLTStd-Bd.otf);
}

@font-face {
    font-family: "Helvetica Light";
    src: url(../css/fonts/HelveticaNeueLTStd-Lt.otf);
}

:root {
    --helve-bd: "Helvetica Bold";
    --helve-lt: "Helvetica Light";
    --b: #1d1d1b;
    --w: #f1f2f1;
}

::-webkit-scrollbar {
    display: none;
}
body {
    background-color: var(--b);
}
img {
    width: 100%;
}

/* MENÜ */
#menu {
    display: flex;
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    pointer-events: none;
    z-index: 20;
    top: 0;
}
#logo img {
    width: 85%;
    filter: invert(1);
}
#lychg {
    display: flex;
    justify-content: space-around;
}
#corner {
    display: flex;
    pointer-events: all;
    cursor: pointer;
    height: fit-content;
}
#menu span, #menu div {
    font-family: var(--helve-bd);
    color: var(--w);
}
#life-bt {
    text-align: end;
    width: 50%;
}
#us-bt {
    text-align: end;
    width: 50%;
}


/* INFO IMÁGENES */
#info-imgs {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.infodivs {
    opacity: 0;
}
#info-imgs .line {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.line div {
    font-family: var(--helve-bd);
    color: var(--w);
}
#ly1, #ly2, #ly3 {
    cursor: pointer;
    pointer-events: all;
    height: fit-content;
}

/* LAYOUT 1 */
#layout1 {
    padding-top: 3rem;
}
#layout1 > div {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 1.3rem;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.ly1col {
    height: fit-content;
    position: relative;
    will-change: transform;
}

#layout1 .ly1col img {
    filter: brightness(0.7);
    margin: 0;
}
#infotat {
    text-transform: uppercase;
}
#center img:first-child {
    top: 27vh;
}
#center img:nth-child(2) {
    margin-top: 10rem;
}

/* LAYOUT 2 */
#layout2 {
    width: 100vw;
    height: 100vh;
    display: none;
}
#layout2 > div {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#layout2 {
    cursor: url(../media/next.png), auto;
}
#ly2img {
    filter: brightness(0.7);
}


/* LAYOUT 3 */
#layout3 {
    display: none;
    position: absolute;
    top: 0;
}
#ttimg {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 20%;
}
#tatuadores {
    position: relative;
    width: 90vw;
    height: 73vh;
    overflow: hidden;
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 7vh;
}
.tatuador {
    opacity: 0;
    cursor: pointer;
    z-index: 18;
    position: absolute;
    color: var(--w);
    font-family: var(--helve-bd);
}

#tatuadores > div:first-child {
    top: 4%;
    left: 2%;
}
#tatuadores > div:nth-child(2) {
    top: 19%;
    left: 19%;
}
#tatuadores > div:nth-child(3) {
    top: 0;
    right: 28%;
}
#tatuadores > div:nth-child(4) {
    top: 30%;
    right: 10%;
}
#tatuadores > div:nth-child(5) {
    top: 63%;
    right: 34%;
}
#tatuadores > div:nth-child(6) {
    top: 80%;
    left: 8%;
}
#tatuadores > div:nth-child(7) {
    top: 80%;
    right: 40%;
}
#tatuadores > div:nth-child(8) {
    top: 85%;
    right: 0%;
}
#tatuadores > div:nth-child(9) {
    bottom: 0;
    right: 12%;
}

#ly3img {
    opacity: 0;
    filter: brightness(0.8);
}


/* US */

#us {
    display: none;
    position: fixed;
    background: var(--b);
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 19;
    opacity: 0;
    transition: opacity 0.8s ease;
}

#us-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    opacity: 0%;
    transition: opacity .8s ease;
}

#us > div, #us-data > div {
    position: absolute;
    font-family: var(--helve-bd);
    font-size: 1em;
    color: var(--w);
    opacity: 0;
}

#us > div:nth-child(1) {
    top: 25%;
    right: 35%;
    display: flex;
    justify-content: space-between;
    width: 20%;
}
#us > div:nth-child(2) {
    top: 10%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#us > div:nth-child(3) {
    top: 40%;
    width: 100%;
    height: 30%;
}
#us > div:nth-child(4) {
    top: 88%;
    right: 75%;
}
#us > div:nth-child(5) {
    top: 94%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    width: 30%;
}
#us > div:nth-child(6) {
    top: 97%;
    right: 50%;
    display: flex;
    justify-content: space-between;
    width: 50%;
}



#us-data > div:first-child {
    right: 80%;
}
#us-data > div:nth-child(2) {
    top: 25%;
    left: 40%;
}
#us-data > div:nth-child(3) {
    right: 10%;
}
#us-data > div:nth-child(4) {
    top: 50%;
    right: 40%;
}
#us-data > div:nth-child(5) {
    top: 75%;
    right: 10%;
}
#us-data > div:nth-child(6) {
    top: 50%;
}
#us-data > div:nth-child(7) {
    top: 75%;
    right: 100%;
}
#us-data > div:nth-child(8) {
    top: 100%;
    right: 0%;
}
#us-data > div:nth-child(9) {
    top: 100%;
    right: 70%;
}